{% extends "index.html" %}

{% block title %}Вход{% endblock %}

{% block body %}
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
<form method="POST"
      class="position-absolute top-50 start-50 translate-middle w-25 p-3 text-white border border-dark bg-gradient">
    {{ login.csrf_token }}
    <div class="p-3 mb-2 bg-dark bg-gradient">
        <div class="mb-3">
            {{ login.email.label (class_="form-label") }}
            {{ login.email(class="form-control") }}
            <div id="emailHelp" class="form-text">{% if login.email.errors %}
                <div class="text-danger">{% for login_error in login.email.errors %}{{ login_error }}{%endfor%}</div>{% else %}Введите ваш адрес
                электронной почты.{% endif %}</div>
        </div>
        <div class="mb-3">
            {{ login.password.label (class_="form-label") }}
            {{ login.password(class="form-control") }}
            <div id="passwordHelpInline" class="form-text">
                <a href="{{ url_for('auth.send_password_reset')}}" class="link-secondary">Забыли пароль ?</a>
            </div>
        </div>
        <div class="mb-3">
            {{ login.recaptcha.label }}
            {{ login.recaptcha }}
        {{ login.submit(class="btn btn-success") }}
        <a class="position-end text-light " href="{{ url_for('auth.register') }}">Регистрация</a>
    </div>
</form>
{% endblock %}
