{% extends "index.html" %}

{% block title %}Востановление пароля{% endblock %}

{% block body %}
<form method="POST"
      class="position-absolute top-50 start-50 translate-middle w-25 p-3 text-white border bg-dark bg-gradient">
    {{ res_pass.csrf_token }}
    <div class="mb-3">
        {{ res_pass.email.label (class_="form-label") }}
        {{ res_pass.email(class_="form-control") }}
        <div class="text-danger">{% for error in res_pass.email.errors %}{{ error }}{% endfor %}</div>
        {{ recaptcha }}
        {{ res_pass.submit (class="btn btn-success") }}
    </div>
</form>
{% endblock %}